/* Variables */

:root {
    --curve: cubic-bezier(.4,0,.1,1);
    --back-color: #ffffff0a;
    --border: 1px solid #ffffff1a;
    --shadow: 0 15px 15px #0000004d;
    --shadowTiny: 2px 2px 5px black;
    --backColorGradient: radial-gradient(circle at calc(50% + 241px) calc(50% + 0px),hsla(229, 100%, 15%, 2%) 0,hsla(229, 100%, 15%, 0) 206px),radial-gradient(circle at calc(50% + 440px) calc(50% + 638px),hsla(195, 100%, 15%, 30%) 0,hsla(195, 100%, 15%, 0) 299px),radial-gradient(circle at calc(50% - 106px) calc(50% + 190px),hsla(258, 100%, 15%, 58%) 0,hsla(258, 100%, 15%, 0) 381px),radial-gradient(circle at calc(50% - 218px) calc(50% + 57px),hsla(231, 100%, 15%, 86%) 0,hsla(231, 100%, 15%, 0) 446px),radial-gradient(circle at calc(50% - 442px) calc(50% - 176px),hsla(269, 100%, 15%, 100%) 0,hsla(269, 100%, 15%, 0) 487px),radial-gradient(circle at calc(50% + 74px) calc(50% - 265px),hsla(235, 100%, 15%, 100%) 0,hsla(235, 100%, 15%, 0) 500px),radial-gradient(circle at calc(50% + 365px) calc(50% - 30px),hsla(201, 100%, 15%, 100%) 0,hsla(201, 100%, 15%, 0) 483px),radial-gradient(circle at calc(50% + 206px) calc(50% + 117px),hsla(275, 100%, 15%, 82%) 0,hsla(275, 100%, 15%, 0) 439px),radial-gradient(circle at calc(50% - 211px) calc(50% + 741px),hsla(259, 100%, 15%, 54%) 0,hsla(259, 100%, 15%, 0) 371px),radial-gradient(circle at calc(50% - 175px) calc(50% + 21px),hsla(262, 100%, 15%, 26%) 0,hsla(262, 100%, 15%, 0) 287px),black;
}

/* General */

body {
    color: #ffffff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
}

html {
    scroll-behavior: smooth;
}

/* Scrollbar */

* {
    scrollbar-color: #333333 #111111;
}

*::-webkit-scrollbar {
    width: 14px;
}

*::-webkit-scrollbar-track {
    background: #111111;
}

*::-webkit-scrollbar-thumb {
    background-color: #242424;
    border-radius: 20px;
}

/* Simple Stuff */

a {
    color: cyan;
}

table, th, td {
    border: 1px solid rgb(76, 0, 255);
    border-collapse: collapse;
    padding: 10px;
}

/* Content Div */
.container {
    position: relative;
    padding: 30px;
    padding-top: var(--padding, 30px);
    padding-bottom: var(--padding, 30px);
    font-size: large;

    background: var(--back-color);
	box-shadow: var(--shadow);
	border-bottom: var(--border);
	border-top: var(--border);
	border-radius: 30px;
}



/* Button */
.button {
    --col: cyan;
    position: relative;
    display: flex;
	justify-content: center;
	align-items: center;

    background: var(--back-color);
	box-shadow: var(--shadow);
	border-bottom: var(--border);
	border-top: var(--border);
	border-radius: 30px;
    
    gap: 10px;

    padding: 4px;
    padding-left: 30px;
    padding-right: 30px;
	text-decoration: none;
	color: #fff;
	transition: all 400ms var(--curve);
    font-size: 16px;
    line-height: 10px;
    text-shadow: var(--shadowTiny)
}

.button:hover {
    letter-spacing: 3px;
    padding-left: 26px;
    padding-right: 26px;
}

.button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    background: radial-gradient(circle at 50% 50%, var(--col) 0%, transparent 150%);
    z-index: -1;
    opacity: 0;
    transition: all 400ms var(--curve);
}

.button:hover::before {
    opacity: 0.3;
}

.button svg {
    fill: white;
    height: var(--svgSize, 34px);
    width: var(--svgSize, 34px);
}

.button:hover svg {
    
    filter: drop-shadow(0 0 16px var(--col)) drop-shadow(var(--shadowTiny)) saturate(1.7);
    fill: var(--col);
}