/* Game List */

#content {
    transition: opacity 400ms var(--curve);
}

#gameList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
    max-width: 1600px;
    gap: 70px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.gameCard {
    box-shadow: var(--shadow);
    border-radius: 20px;
    transition: transform 400ms var(--curve);
    cursor: pointer;
    overflow: hidden;
    background-color: #2e01887d;
}

.gameCard:hover {
    transform: scale(1.2);
}

.gameCard:active {
    transition-duration: 200ms;
    transform: scale(0.8);  
}

.active-right .active-links {
    min-width: 550px;
}

.gameCard img {
    width: 350px;
    height: 250px;
    object-fit: cover;
    object-position: center;
}

.gameCard p {
    max-width: 310px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.gameCard video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: none;
}

.gameCard:hover video {
    display: block;
}

/* Game Page */

#active {
    position: fixed;
    top: 20px;
    left: 20px;
    width: calc(100% - 120px);
    height: calc(100% - 120px);

    background-color: rgba(46, 1, 136, 0.35);
    border-radius: 20px;
    padding: 40px;
    overflow-y: auto;

    display: flex;
    flex-direction: column;
    align-items: center;

    transition: opacity 300ms var(--curve);
}

.active-content {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 10px;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    text-shadow: var(--shadow);
}

.active-description {
    word-wrap: break-word;
    max-width: 50%;
}

#active img {
    display: block;
    max-width: 700px;
    max-height: 200px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
}

.active-links {
    margin-top: 40px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
    height: 70px;
}

#game {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    background-size: cover;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: var(--shadow);
}