body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  max-width: 800px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
}

#logoContent {
  text-shadow: var(--textshadow);
  white-space: nowrap;
}
#logoContent span {
  color: var(--color);
}

.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  text-align: left;
  font-size: large;
  height: 210px;
  margin-left: auto;
  margin-right: auto;
  max-width: 450px;
}
.logo img {
  width: 130px;
  height: 130px;
  object-fit: contain;
  border-radius: 30px;
  transition: all 300ms var(--curve);
  cursor: pointer;
  filter: drop-shadow(var(--shadow));
}
.logo img:hover {
  transform: scale(1.1);
}
@media screen and (max-width: 800px) {
  .logo {
    height: auto;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .logo h1 {
    font-size: 1.4em;
  }
  .logo p {
    font-size: small;
  }
  .logo img {
    width: 100px;
    height: 100px;
  }
}

/* Socials */
.socials {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
