:root {
    --brand-steam: #00adee;
    --brand-itch: #fa5c5c;
    --brand-googleplay: #34a853;
    --brand-appstore: #0d96f6;
    --brand-gxgames: #fc1d4e;
    --brand-github: #0fbf3e;
    --brand-linkedin: #0a66c2;
    --brand-youtube: red;
    --brand-discord: #5865f2;
    --brand-email: yellow;
}
