/* Variables */

:root {
    --curve: cubic-bezier(.4,0,.1,1);
    --shadow: 5px 5px 10px #00000099;
    --back-color: #7671883a;
}

/* General */

body {
    color: #ffffff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
}

html {
    scroll-behavior: smooth;
}

/* Scrollbar */

* {
    scrollbar-color: #333333 #111111;
}

*::-webkit-scrollbar {
    width: 14px;
}

*::-webkit-scrollbar-track {
    background: #111111;
}

*::-webkit-scrollbar-thumb {
    background-color: #242424;
    border-radius: 20px;
}

/* Header */
header {
    align-items: center;
    display: flex;
    gap: 20px;
    height: 70px;
    padding: 10px;
    width: calc(100% - 20px);
}

header .nav-link {
    align-items: center;
    color: white;
    cursor: pointer;
    justify-content: center;
    display: flex;
    font-size: 80%;
    gap: 10px;
    padding: 30px;
    padding-top: 0;
    padding-bottom: 0;
    position: relative;
    text-decoration: none;
    text-shadow: var(--shadow);
    transition: all 300ms var(--curve);
}

header .nav-link:hover {
    font-size: calc(40em / 34);
}

header .nav-link::before {
    background-image: linear-gradient(180deg, #ff004c, #ff0000);
    border-radius: inherit;
    bottom: 0;
    content: "";
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: opacity 400ms var(--curve);
    z-index: -1;
}

header .nav-link:hover::before {
    opacity: 100%;
}

header .nav-link > svg {
    fill: white;
    height: 34px;
    width: 34px;
    transition: all 300ms var(--curve);
    filter: drop-shadow(var(--shadow));
}

header .nav-link:hover > svg {
    height: 40px;
    width: 40px;
}

a {
    color: cyan;
}

table, th, td {
    border: 1px solid rgb(76, 0, 255);
    border-collapse: collapse;
    padding: 10px;
}