<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="icon"
            type="image/png"
            href="/res/games/{{id}}/favicon.png"
        />
        <title>{{name}}</title>
        <link rel="stylesheet" href="/styles/main.css" />
        <link rel="stylesheet" href="/styles/games.css" />
    </head>
    <body>
        <div class="content">
            <img
                src="/res/games/{{id}}/logo.png"
                style="max-width: 100%; max-height: 200px"
            />
            <div class="buttons">
                {{> button link=itchioLink color="#FA5C5C" text="Itch.io"
                icon="itchio"}} {{> button link=googleplayLink color="lime"
                text="Google Play" icon="googleplay"}} {{#if gxgamesLink }} {{>
                button link=gxgamesLink color="#fc1d4e" text="GX Games"
                icon="operagx"}} {{/if}} {{#if githubLink}} {{> button
                link=githubLink color="cyan" text="GitHub" icon="github"}}
                {{/if}} {{> button link="privacypolicy.html" color="grey"
                text="Privacy Policy" icon="privacy" style="margin-top: 50px"}}
            </div>
        </div>
    </body>
</html>
