<!DOCTYPE html>
<html lang="en">
<head>
    {{> header}}
    <title>Unless - Privacy Policy</title>
    <link rel="stylesheet" href="/styles/games.scss">
</head>
<body>
    <div class="content" style="gap: 40px">
        <div class="container">
            <h1>Unless - Privacy Policy</h1>
            <p>Steam Leaderboards are used to store data</p>
        </div>
        <div class="container">
            <h1>Unless - Terms and Conditions</h1>
            <p>Don't hack the leaderboard please</p>
        </div>
    </div>
</body>
</html>
